{% extends 'base.html.twig' %}

{% block title %}My Beers | Index{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-12 text-center">My Beers 🍻</h1>
        <p class="col-12">Etiam mattis leo a mauris dapibus, ac consectetur arcu accumsan. Suspendisse potenti. Mauris condimentum, eros eget aliquam pellentesque, quam quam dapibus odio, id aliquam nisl erat sit amet turpis. Cras at arcu nec felis egestas bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In semper ut nisl sagittis blandit. Etiam nisl nisi, hendrerit in convallis non, consectetur sit amet justo. Quisque ut sem eu lacus gravida cursus.</p>
        <p class="col-12">Morbi ac urna volutpat, luctus urna eu, semper tellus. Vestibulum euismod nulla eu pulvinar dapibus. Aenean quis eros tortor. Cras sed commodo tortor. Quisque lacus nulla, commodo eu varius sed, dapibus vitae nunc. Pellentesque dictum leo ante, ac vulputate dui vestibulum eu. Donec vitae elit congue, aliquam tortor eu, faucibus nisl. Vivamus iaculis faucibus dolor, et viverra dolor tincidunt nec. Nam lectus sem, pellentesque vitae nibh ut, aliquam sodales ligula. Nullam quam risus, sollicitudin vel dapibus aliquet, dictum ac turpis. Duis et enim turpis. Praesent et enim quis risus tincidunt facilisis vitae sed est. Aenean et efficitur ipsum.</p>
        <p class="col-12"><a class="btn btn-primary" href="{{ path('contact') }}">Contact Us</a></p>
    </div>
{% endblock %}
