{% extends 'base.html.twig' %}

{% block body %}
    <h1>Random beer</h1>

    <p class="btn btn-info" id="get-random">Get Random Beer</p>
    <div id="random-beer"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('random') }}
{% endblock %}