@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";

.material-icons.md-48 { font-size: 48px; }
.material-icons.pink { color: hotpink; }

.card-columns {
    @include media-breakpoint-up(sm) {
        column-count: 4;
    }
    @include media-breakpoint-down(sm) {
        column-count: 1;
    }
}

.carousel-item {
    max-width: 100%;
    max-height: calc(100vh - #{$nav-link-height} - #{$nav-link-padding-y * 2});
}